[submodule "utils"]
	path = utils
	url = https://gitee.com/lin-jiazheng/jetson-utils
	branch = master
[submodule "tools/camera-capture"]
	path = tools/camera-capture
	url = https://gitee.com/lin-jiazheng/camera-capture
	branch = master
[submodule "python/training/classification"]
	path = python/training/classification
	url = https://gitee.com/lin-jiazheng/pytorch-classification
	branch = master
[submodule "python/training/detection"]
	path = python/training/detection
	url = https://gitee.com/lin-jiazheng/pytorch-detection
	branch = master
[submodule "python/training/segmentation"]
	path = python/training/segmentation
	url = https://gitee.com/lin-jiazheng/pytorch-segmentation
	branch = master
